﻿@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <div class="row" id="searchoption">
        <div class="col-md-offset-1 col-md-10">
            @{Html.RenderPartial("_AdvanceSearch");}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button id="btnAdvanceSearch" name="btnAdvanceSearch" data-toggle="tooltip" data-placement="left" title="Advance Search"> <i class="fa fa-cog"></i></button>
        </div>
        <div class="col-md-5">
            <select name="SearchBy" id="SearchBy" class="form-control">
                <option value="Mortango Ctrl">Mortango Ctrl</option>
            </select>
        </div>
        <div class="col-md-5">
            <input type="text" id="query" name="query" class="form-control" />
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary" value="Search"><i class="fa fa-search"></i> Search</button>
        </div>
    </div>
</div>

@section scripts{
   <script>
       $(function () {
           $('[data-toggle="tooltip"]').tooltip()
       })
       $(document).ready(function () {
           $(function () {
               $('[data-toggle="tooltip"]').tooltip()
           })
           $("#searchoption").hide();
           $("#btnAdvanceSearch").click(function () {
               $("#searchoption").toggle(2000);

           })
       })
    </script>
}